extends layout

block content
  div(class="mySlides w3-display-container w3-center")
    img(src="/images/romeo.jpg" style="width:100%")
    div(class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small")
      h3 2019
      p Theatervoorstellingen op maat

  div(class="mySlides w3-display-container w3-center")
    img(src="/images/hoofdfoto.jpg" style="width:100%")
    div(class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small")
      h3 2017
      p Komedie en nog veel meer


  div(class="mySlides w3-display-container w3-center")
    img(src="/images/martino.jpg" style="width:100%")
    div(class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small")
      h3 2018
      p Mysterie dat blijft hangen

  div(class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band")
    h2(class="w3-wide") THEATER 2020
    p(class="w3-opacity") Theater is onze passie
    p(class="w3-justify").
      Wij zijn een toneelvereniging met een sterke passie voor theater. Op deze site vindt u onze reeds gespeelde stukken en de stukken waar wij momenteel mee bezig zijn. Door de huidige coronatoestanden zijn er voor onze volgende productie eind dit jaar
      slechts een aantal tickets beschikbaar omdat wij de afstandsregels moeten respecteren. Wees er dus snel bij want op=op. Onze vereniging bestaat al sinds 2015 en heeft als oprichters Thomas Vander Beke en Ute Naessens, twee gemotiveerde leerlingen
      industrieel ingenieur.